                 /* Reset default browser styles for consistency */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        } 
                /** project body **/

        body {
            background:#000000;
            color: white;
            font-family: alef, sans-serif;
        }

                /** All coloured paraphrase text**/
        span{
            color: #5CF3FA;
        }

                 /** top navigation bar**/
        .top-bar{ 
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            justify-content: space-between;
            line-height: 65px;
            color: white;
            z-index: 1000;
            background-color: #000000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       }
                /** navigation bar icon styling**/
       .nav{
            float: right;
            margin-right: 82px;
            
            
        }
        .nav button{
            border: none;
            color: rgba(88, 231, 238, 1);
            background-color: #000000;
            font-size: 20px;

        }

                /** company logo**/
       .logo{
            display: inline-block;
            width: 192.969px;
            margin: 15px 0 17px 82px;
            font-size: 22px;
            font-weight: 600;
            line-height: 33px;
            font-family: Alef, sans-serif;
            color: #DFDFDF;
            
        }

        .divider{
            border: none;
            border-top: 0.15em solid rgb(75, 72, 72);
        }

        .content{
            box-sizing: border-box;
            width:fit-content;
        }

        /** hero section container **/

        section{
            background-blend-mode: multiply;
            background-image:  url("cyber\ shield.jpg");
            line-height: 65px;
            width: fit-content;
            border: none;
            position: relative;
            background-repeat: no-repeat;
            background-position: right;
            margin-top: 75px;
            display: flex;
        
        }
        /** left side hero contents**/

        .hero-content{
            padding-top: 4%;
            padding-left: 82px;
            margin: 0;
            font-size: 50px;
            line-height: 73.4px;
            width: 60%;
            font-weight: bold(600);
            letter-spacing: normal;

        }

        /** call to action statement **/
        
        .cta-section{
            font-family: sans-serif;
            font-size: 24px;
            line-height: 39.36px;
            justify-content: left;
            padding: 3% 0 ;
            font-weight: 600;
        }
          /** call to action button**/
    .ctabutton{
        justify-content: left;
        display: block;
        margin-top: 10px;
        font-size: 16px;
        
    }
        .ctabutton ul{
        list-style: none;
        font-weight: 500;
        line-height: 33px;
        gap: 100px;
        display: flex;
        font-size: 16px;
        
        
    }
    /** button link styling**/
    .explore{
        color: black;
        background-color: rgb(84, 244, 252);
        text-decoration: none;
        border: 0.03125em solid rgb(84, 244, 252);
        border-radius: 0.3125em;
        width: 200px;
        text-align: center;
    }

     .signin{
        color: rgb(84, 244, 252);
        background-color: black;
        text-decoration: none;
        border: 0.03125em solid rgb(84, 244, 252);
        border-radius: 0.3125em;
        width: 200px;
        text-align: center;
    }


    /** button hoover **/
     .explore:hover{
        background-color:black;
        color: rgb(84, 244, 252);
    }
    .signin:hover{
        background-color: rgb(84, 244, 252);
        color: #000000;
    }

       
      
        /** rating section**/
    .main{ 
        margin-top: 82px;
        padding: 2% 5% 2% 5%; 
        justify-content: center;
        width: 100%;
        
        
     }

     .main h2{
        font-size: 24px;
        line-height: 39.9px;
        font-weight: 400;
        text-align: center;

     }

         /** rating panel **/
     .rating{
        margin-top: 2%;
        width: 100%;
        border-radius: 8px;
        background: linear-gradient(to right, rgba(99, 244, 253, 1) 10%,rgba(148, 242, 254,1) 20%, rgba(140, 242, 253, 1) 25%,rgba(197,240,255,1) 35%,rgba(186, 233, 246, 1) 45%,rgba(185, 232, 246, 1) 55%, rgba(177, 228, 240, 1)65%,rgba(160, 217, 229, 1) 75%, rgba(63, 140, 194, 1) 95%,rgba(32, 116, 183, 1) 100%);
        background-blend-mode: multiply;
        color: aliceblue;
        
        }

        .rating-value{
            gap: 202px;
            display: flex;
            justify-content: center;
            color: #1A202C;
        }

        .rating-value h1{
            
            line-height: 108px;
            width: 210.226px;
            text-align: center;
            font-size: 72px;
            font-family: sans-serif;
            font-weight: bolder;

        }
         .rating-value h3{
            line-height: 36px;
            text-transform: capitalize;
            padding-bottom: 20px;
            font-size: 20px;
            text-align: center;
            width: 210.226px;
            font-family: sans-serif;
            font-weight: 400;

        }
        /** four bricks, Lock icon and wordings styling **/

        .section-2{
            margin-left: 82px;
            margin-right: 82px;
            margin-bottom: 16px;
            height: auto;
           
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 37px;
            row-gap: 15px;
        }
         .lock{ 
             text-align: center;
             border: 0.05em solid #186EB4 ;
             justify-content: center;
             font: 16px;
             display: block;
             gap: 50px;
             line-height: 24px;
             border-radius: 8px;
        
        }
        .lock-icon{
            color: #74C0FC;
            margin: 16px 21px 0px 21px;
            font-size: 25px;
            line-height: 37.5px;
            font-weight: 400;
        }
         /** end point security styling **/
    .end{
        color: #36ABD0;
        margin: 0px 21px 0px 21px;
        font-size: 24px;
        line-height: 36px;
        font-weight: 600;
    }
        .lock h6{
            font-size: 18px;
            line-height: 27px;
            font-weight: 400;
            margin: 0px 21px 16px 21px;
        }

       
       /** vtr - call to registration panel **/
        .ctr{
            width: 100%;
            height: 224px;
            background: linear-gradient(to right,rgba(24, 110, 180, 1) 50%,rgba(63, 140, 194, 1) 65%,rgba(117, 188, 247, 1) 86%, rgba(76, 223, 241, 1) 100%);
        background-blend-mode: multiply;
        }

       .how-to{
        display: flex;
        margin: 22px 82px 22px 82px;
        height: 180px;
        }

        .how-to h1{
            font-size: 36px;
            line-height: 60px;
            width:575.719px;
            font-family: sans-serif;
            font-weight: 700;

        }
        /** right side content **/
        .registers{
        display: grid;
        
        }
        .registers h2{
            font-size: 23px;
            font-family: sans-serif;
            font-weight: 500;
            color: black;
            margin-top: 14px;
            text-align: center;
            width: 575.719px;
            Height:70px;
            line-height: 35px;
        }





       .register-button{
        margin: 25px 140px 0 140px;
	    justify-content: center;
	    display: block;
	    font-size: 16px;
        }

  .register-button ul{
        list-style: none;
        font-weight: 700;
        line-height: 33px;
        display: flex;
        font-size: 16px;
        
        
    }
    /** button link styling**/
    .register{
        color: rgb(84, 244, 252);
	    background-color: black;
        text-decoration: none;
	    border: 0.03125em solid black;
        border-radius: 0.3125em;
	    width: 300px;
        text-align: center;

    }

	/** button hoover **/

        .register:hover{
        background-color: rgb(84, 244, 252);
        color: black;
        cursor: pointer;
    }

        /** copy right footer **/
        footer{
            padding: 36px;
            line-height: 24px;
            text-align: center;
            font-size: 15px;
        }

        @media screen  and (max-width:600px) {
        *{
            width: fit-content;
        }
            body {
            width: fit-content;
             }
            section{
                width: fit-content;
            height: fit-content;
            }
        }
    
        
       
   
   

   


