          /* Reset default browser styles for consistency */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        } 
                /** project body **/

        body {
            background:#000000;
            color: white;
            font-family: alef, sans-serif;
        }

                /** All coloured paraphrase text**/
        span{
            color: #5CF3FA;
        }

                 /** top navigation bar**/
        .top-bar{ 
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            justify-content: space-between;
            line-height: 65px;
            color: white;
            z-index: 1000;
            background-color: #000000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       }
                /** navigation bar icon styling**/
       .nav{
            float: right;
            margin-right: 82px;
            
            
        }
        .nav button{
            border: none;
            color: rgba(88, 231, 238, 1);
            background-color: #000000;
            font-size: 20px;

        }

                /** company logo**/
       .logo{
            display: inline-block;
            width: 192.969px;
            margin: 15px 0 17px 82px;
            font-size: 22px;
            font-weight: 600;
            line-height: 33px;
            font-family: Alef, sans-serif;
            color: #DFDFDF;
            
        }

        .divider{
            border: none;
            border-top: 0.15em solid rgb(75, 72, 72);
        }

        .container{
            margin-top: 75px;
            box-sizing: border-box;
            display: flex;
            Height:633px;
            width: 100%;
        }


        .signin-section{
            Width:50%;
            color: white;
        }

        .CTA{
             margin: 40px 82px 0 82px;
             font-size: 22px;
             line-height: 33px;
             font-family: sans-serif;
             font-weight: 700;
             width: 449.797px;
             height: auto;

        }
         .logo-section{
            background-color: rgb(84, 244, 252);
            Width:50%;
            color: white;
            
        }
        .form-style{

        }
        input{
            margin: 22px 82px 0px 82px;
            background-color: #000000;
            color: white;
            border: grey solid 0.8px;
            font-size: 16px;
             line-height: 24px;
            Width:449.797px;
            Height :48px;
            Border-Radius:8px;
        }
       input :placeholder{
            color: #000000;
        
        }
        .recover{
            text-align: right;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #5CF3FA;
            margin: 10px 82px 0px 82px;
            Width:449.797px;
        }

    
        label{
            color: #5CF3FA;
            
        }
        .input-icon{
            margin: red solid;
        }

        input:placeholder-shown {
            color: #5CF3FA;
        }

        .signin-arrow{
            margin: 10px 82px 0px 82px;
            Width:449.797px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            display: flex;
        }

        .arrow{
            margin-left : 300px;
            color: #5CF3FA;
        }

        .or{
            font-weight: 400;
            font-family: sans-serif;
            margin: 31px 82px 31px 82px ;
            text-align: center;
            font-size: 20px;
            line-height: 30px;
            width: 449.797px;
        }

      .google-signin{
        justify-content: center;
	    display: block;
	    margin: 30px 82px 0px 82px;
	    font-size:24px;
        }
 .google-signin ul{
	list-style: none;
	font-weight: 700;
	line-height: 24px;
    height: 40px;
	display: flex;
	font-size: 16px;            
	
        }
/** button link styling **/

.google{
        padding-top: 8px;
	    color: black;
	    background-color: rgb(84, 244, 252);
        text-decoration: none;
        border: 0.03125em solid rgb(84, 244, 252);
        border-radius: 0.3125em;
        width:449.797px;

        text-align: center;
}
/** hover styling**/
   .google:hover{
        background-color:black;
        color: rgb(84, 244, 252);
        }



        /** copy right footer **/
        footer{
            padding: 15px;
            text-align: center;
            font-size: 15px;
        }