          /* Reset default browser styles for consistency */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        } 
                /** project body **/

        body {
            background:#000000;
            color: white;
            font-family: alef, sans-serif;
        }

                /** All coloured paraphrase text**/
        span{
            color: #5CF3FA;
        }

                 /** top navigation bar**/
        .top-bar{ 
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            justify-content: space-between;
            line-height: 65px;
            color: white;
            z-index: 1000;
            background-color: #000000;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
       }
                /** navigation bar icon display**/
       .nav{
            float: right;
            margin-right: 82px;
            
            
        }
            /** 3 bars navigation button styling**/
        
        .nav button{
            border: none;
            color: rgba(88, 231, 238, 1);
            background-color: #000000;
            font-size: 20px;

        }

                /** company logo**/
       .logo{
            display: inline-block;
            width: 192.969px;
            margin: 15px 0 17px 82px;
            font-size: 22px;
            font-weight: 600;
            line-height: 33px;
            font-family: Alef, sans-serif;
            color: #DFDFDF;
            
        }
        /** static navigation bar divider line**/
        .divider{
            border: none;
            border-top: 0.15em solid rgb(75, 72, 72);
        }
        /**content container style**/
        .container{
            margin-top: 75px;
            box-sizing: border-box;
            display: flex;
            Height:633px;
            width: 100%;
        }

            /** signin forms section**/
        .signin-section{
            Width:50%;
            color: white;
        }
        /* sign in  call to action label*/

        .CTA{
             margin: 40px 82px 0 82px;
             font-size: 22px;
             line-height: 33px;
             font-family: sans-serif;
             font-weight: 700;
             width: 449.797px;
             height: auto;

        }
        /* empty space or logo section**/
         .logo-section{
            background-color: rgb(84, 244, 252);
            Width:50%;
            color: white;
            
        }
        /** sign in form input styling **/
        
        input{
            margin: 22px 82px 0px 82px;
            background-color: #000000;
            color: white;
            border: solid 0.8px;
            font-size: 16px;
            line-height: 24px;
            Width:449.797px;
            Height :48px;
            Border-Radius:8px;
        }
        ::placeholder{
           padding: 12px 20px 12px 40px;
        
        }
       
        input[type=email]:focus {
            border: #54F4FC solid;
            outline: none;
            padding: 12px 20px 12px 12px;
       
        }

         input[type=password]:focus {
            border: #54F4FC solid;
            outline: none;

       
        }

        /** password recover stying **/
        .recover{
            text-align: right;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #5CF3FA;
            margin: 10px 82px 0px 82px;
            Width:449.797px;
        }

    
        
            
        
        /** email and password icon styling */
       

        .form-style{
            position: relative;
        }
        .input-icon{
            position: absolute;
            color: #54F4FC;
            left: 95px;
        }
       
        /** sign in arrow section styling**/
        .signin-arrow{
            margin: 10px 82px 0px 82px;
            font-size: 16px;
            padding: 10px;
            font-weight: 400;
            line-height: 24px;
            width:449.797px ;
            height: 57px;
            display: inline-block;
        }

        .btn{
           
            background-color: #54F4FC;
            color: black;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: inline-block;
            align-items: right;
            margin: 399px;
            cursor: pointer;
            margin-top: 0px;
            
        }
         .btn i{
            font-size: 20px;
            color: #000;
            
            animation: move 1.5s ease-in infinite;
        }
        @keyframes move {
           from {
            margin-left: 15px
        }
        to{
            margin-left: 0px
        }
        }

        .or{
            font-weight: 400;
            font-family: sans-serif;
            margin: 31px 82px 31px 82px ;
            text-align: center;
            font-size: 20px;
            line-height: 30px;
            width: 449.797px;
        }
        .google-icon{
            font-size: 25px;
            font-weight: bold;
            background: conic-gradient(from 0deg at 50% 50%, #4285F4 72deg, #34A853 144deg, #FBBC05 216deg, #EA4335 288deg);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
        }
        .g-icon{
            font-family: Arial, sans-serif;
        }

      .google-signin{
        justify-content: center;
	    display: block;
	    margin: 30px 82px 0px 82px;
	    font-size:24px;
        }
        .google-signin ul{
	        list-style: none;
	        font-weight: 700;
	        line-height: 24px;
            height: 40px;
           align-items: center;
	        display: flex;
	        font-size: 16px;            
        }
/** button link styling **/

.google{
        padding-top: 8px;
	    color: black;
	    background-color: rgb(84, 244, 252);
        text-decoration: none;
        border: 0.03125em solid rgb(84, 244, 252);
        border-radius: 0.3125em;
        width:449.797px;
        text-align: center;
}
/** hover styling**/
   .google:hover{
        background-color:black;
        color: rgb(84, 244, 252);
        }
        /** copy right footer **/
        footer{
            padding: 36px;
            line-height: 24px;
            text-align: center;
            font-size: 15px;
        }

        /** media queries **/
        @media screen and (max-width: 600px) {

            
        }